@page "/GeneralFtl"

<div class="calculator-general-root-default">
    <Card>
        <CardTabs>
            <Tabs @bind-ActiveKey="_activeKey">
                @foreach (var tab in _selectList)
                {
                    <TabPane Key="@tab.ActiveKey" Tab="@tab.DisplayName">
                        <ChildContent>
                            @switch (tab.ActiveKey)
                            {
                                case "GeneralFtlGeneral":
                                    <GeneralFtlGeneral/>
                                    break;
                                case "GeneralFtlAdvanced":
                                    <GeneralFtlAdvanced/>
                                    break;
                                case "GeneralFtlSettings":
                                    <GeneralFtlSettings/>
                                    break;
                                case "GeneralFtlTntEncoding":
                                    <GeneralFtlTntEncoding/>
                                    break;
                                default:
                                    <Empty/>
                                    break;
                            }
                        </ChildContent>
                    </TabPane>
                }
            </Tabs>
        </CardTabs>
    </Card>
</div>

<div class="calculator-general-root-mobile">
    <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
        <SpaceItem>
            <Select DataSource="@_selectList"
                    DefaultValue="@("GeneralFtlGeneral")"
                    @bind-Value="_activeKey"
                    ValueName="@nameof(TabItem.ActiveKey)"
                    LabelName="@nameof(TabItem.DisplayName)"
                    IgnoreItemChanges="false">
            </Select>
        </SpaceItem>
        <Divider></Divider>
        <SpaceItem>
            <ChildContent>
                @switch (_activeKey)
                {
                    case "GeneralFtlGeneral":
                        <GeneralFtlGeneral/>
                        break;
                    case "GeneralFtlAdvanced":
                        <GeneralFtlAdvanced/>
                        break;
                    case "GeneralFtlSettings":
                        <GeneralFtlSettings/>
                        break;
                    case "GeneralFtlTntEncoding":
                        <GeneralFtlTntEncoding/>
                        break;
                    default:
                        <Empty/>
                        break;
                }
            </ChildContent>
        </SpaceItem>
    </Space>
</div>