@page "/GeneralFTL"

@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div class="calculator-general-root-default">
    <Card>
        <CardTabs>
            <Tabs @bind-ActiveKey="_activeKey">
                <TabPane Key="GFTL_General">
                    <Tab>@TranslateText.GetTranslateText("GeneralFTLGeneralHeader")</Tab>
                    <ChildContent>
                        <GeneralFTL_General />
                    </ChildContent>
                </TabPane>

                <TabPane Key="GFTL_Advanced">
                    <Tab>@TranslateText.GetTranslateText("GeneralFTLAdvancedHeader")</Tab>
                    <ChildContent>
                        <GeneralFTL_Advanced />
                    </ChildContent>
                </TabPane>

                <TabPane Key="GFTL_Settings">
                    <Tab>@TranslateText.GetTranslateText("GeneralFTLSettingsHeader")</Tab>
                    <ChildContent>
                        <GeneralFTL_Settings />
                    </ChildContent>
                </TabPane>
            </Tabs>
        </CardTabs>
    </Card>
</div>

<div class="calculator-general-root-mobile">

    <Select @bind-Value="_activeKey"
            TItem="string"
            TItemValue="string"
            Style="width: 100%; margin: 10px 0">
        <SelectOptions>
            <SelectOption TItem="string" TItemValue="string" Value="@("GFTL_General")" Label="General" />
            <SelectOption TItem="string" TItemValue="string" Value="@("GFTL_Advanced")" Label="Advanced" />
            <SelectOption TItem="string" TItemValue="string" Value="@("GFTL_Settings")" Label="Settings" />
        </SelectOptions>
    </Select>

    <div style="border: 1px solid #EFEFEF; padding: 2px; padding-top: 10px">

        @if (_activeKey == "GFTL_General")
        {
            <GeneralFTL_General />
        }
        else if (_activeKey == "GFTL_Advanced")
        {
            <GeneralFTL_Advanced />
        }
        else
        {
            <GeneralFTL_Settings />
        }
    </div>
</div>

@code { private string _activeKey = "GFTL_General"; }