@page "/GeneralFtl"
@using PearlCalculatorBlazor.Localizer

<div class="calculator-general-root-default">
    <Card>
        <CardTabs>
            <Tabs @bind-ActiveKey="_activeKey">
                <TabPane Key="GeneralFtlGeneral" Tab="@TranslateText.GetTranslateText("GeneralFtlGeneral")">
                    <ChildContent>
                        <GeneralFtlGeneral/>
                    </ChildContent>
                </TabPane>

                <TabPane Key="GeneralFtlAdvanced" Tab="@TranslateText.GetTranslateText("GeneralFtlAdvanced")">
                    <ChildContent>
                        <GeneralFtlAdvanced/>
                    </ChildContent>
                </TabPane>

                <TabPane Key="GeneralFtlSettings" Tab="@TranslateText.GetTranslateText("GeneralFtlSettings")">
                    <ChildContent>
                        <GeneralFtlSettings/>
                    </ChildContent>
                </TabPane>
            </Tabs>
        </CardTabs>
    </Card>
</div>

<div class="calculator-general-root-mobile">
    <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
        <SpaceItem>
            <Select DataSource="@_selectList"
                    DefaultValue="@("GeneralFtlGeneral")"
                    @bind-Value="_activeKey"
                    ValueName="@nameof(Array.ActiveKey)"
                    LabelName="@nameof(Array.DisplayName)"
                    IgnoreItemChanges="false">
            </Select>
        </SpaceItem>
        <Divider></Divider>
        <SpaceItem>
            @if (_activeKey == "GeneralFtlGeneral")
            {
                <GeneralFtlGeneral/>
            }
            else if (_activeKey == "GeneralFtlAdvanced")
            {
                <GeneralFtlAdvanced/>
            }
            else
            {
                <GeneralFtlSettings/>
            }
        </SpaceItem>
    </Space>
</div>

@code { private string _activeKey = "GeneralFtlGeneral"; }