@page "/GeneralFTL"

@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div class="calculator-general-root-default">
    <Card>
        <CardTabs>
            <Tabs @bind-ActiveKey="_activeKey">
                <TabPane Key="GFTL_General">
                    <Tab>@TranslateText.GetTranslateText("GFTL_General")</Tab>
                    <ChildContent>
                        <GeneralFTL_General />
                    </ChildContent>
                </TabPane>

                <TabPane Key="GFTL_Advanced">
                    <Tab>@TranslateText.GetTranslateText("GFTL_Advanced")</Tab>
                    <ChildContent>
                        <GeneralFTL_Advanced />
                    </ChildContent>
                </TabPane>

                <TabPane Key="GFTL_Settings">
                    <Tab>@TranslateText.GetTranslateText("GFTL_Settings")</Tab>
                    <ChildContent>
                        <GeneralFTL_Settings />
                    </ChildContent>
                </TabPane>
            </Tabs>
        </CardTabs>
    </Card>
</div>

<div class="calculator-general-root-mobile">

    <Select DataSource="@_selectList"
            DefaultValue="@("GFTL_General")"
            @bind-Value="_activeKey"
            ValueName="@nameof(Array.ActiveKey)"
            LabelName="@nameof(Array.DisplayName)"
            IgnoreItemChanges="false">
    </Select>

    <div style="border: 1px solid #EFEFEF; padding: 2px; padding-top: 10px">

        @if (_activeKey == "GFTL_General")
        {
            <GeneralFTL_General />
        }
        else if (_activeKey == "GFTL_Advanced")
        {
            <GeneralFTL_Advanced />
        }
        else
        {
            <GeneralFTL_Settings />
        }
    </div>
</div>

@code { private string _activeKey = "GFTL_General"; }