@page "/Manually"
@using PearlCalculatorBlazor.Localizer
@inject MessageService AntMessage
@inject NotificationService Notice
@inject TranslateText TransText

<div class="manually-settings">
    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("PearlPosX")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("MomentumX")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ManuallyPearlPosX"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@ManuallyPearlMomentumX"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("PearlPosY")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("MomentumY")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ManuallyPearlPosY"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@ManuallyPearlMomentumY"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("PearlPosZ")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("MomentumZ")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ManuallyPearlPosZ"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@ManuallyPearlMomentumZ"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("TNTXA")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("TNTXB")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ATntX"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@BTntX"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("TNTYA")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("TNTYB")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ATntY"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@BTntY"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("TNTZA")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("TNTZB")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ATntZ"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@BTntZ"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            @TranslateText.GetTranslateText("AmountA")
        </GridCol>

        <GridCol Span="12">
            @TranslateText.GetTranslateText("AmountB")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12">
            <InputNumber @bind-Value="@ATntAmount"/>
        </GridCol>

        <GridCol Span="12">
            <InputNumber @bind-Value="@BTntAmount"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="24">
            @TranslateText.GetTranslateText("DestinationX")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="24">
            <InputNumber @bind-Value="@ManuallyDestinationX"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="24">
            @TranslateText.GetTranslateText("DestinationZ")
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="24">
            <InputNumber @bind-Value="@ManuallyDestinationZ"/>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="24">
            <Text>@TranslateText.GetTranslateText("GameVersion")</Text>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="24">
            <Select DataSource="@_selectedGameVersion"
                    @bind-Value="ManuallyGameVersion"
                    DefaultValue="@ManuallyGameVersion"
                    ValueName="@nameof(ArrayPos.ActiveKey)"
                    LabelName="@nameof(ArrayPos.DisplayName)"
                    Size="@InputSize.Small">
            </Select>
        </GridCol>
    </GridRow>

    <GridRow Gutter="16">
        <GridCol Span="12" Style="height: 16px"></GridCol>
    </GridRow>

    <div class="button-block">
        <Button Block="true" @onclick="@CopyGeneralDataToManuallyData">
            @TranslateText.GetTranslateText("CopyGeneralDataToManuallyData")
        </Button>
        <Button Block="true" @onclick="@ManuallyCalculateTntAmount">
            @TranslateText.GetTranslateText("CalculateTNTAmount")
        </Button>
        <Button Block="true" @onclick="@(() => ManuallyCalculatePearl("manuallyPearlTrace"))">
            @TranslateText.GetTranslateText("CalculatePearlTrace")
        </Button>
        <Button Block="true" @onclick="@(() => ManuallyCalculatePearl("manuallyPearlMotion"))">
            @TranslateText.GetTranslateText("CalculatePearlMomentum")
        </Button>
    </div>
</div>

<style>
    div.manually-settings {
        .ant-input-number {
            width: 100%;
            margin-bottom: 8px;
        }
    }
</style>