@page "/ResultView"
@inject MessageService AntMessage
@inject NotificationService Notice
@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div class="calculator-result">
    @if (ShowMode == ShowResultMode.Amount)
    {
        <Table TItem="PearlCalculatorLib.Result.TNTCalculationResult"
               DataSource="@AmountResult"
               Total="AmountTotal"
               @bind-PageIndex="_pageIndex"
               @bind-PageSize="_pageSize"
               ScrollY=@(TableScrollY)
               OnRowClick="OnAmountRowClickAsync"
               Class="calculator-result-table">
            <!-- A Tooltips with icon for info click can set the red and blue tnt amounts -->
            <ActionColumn Title="@TranslateText.GetTranslateText("DisplayAction")" Width="50px">
                <Tooltip Title="@TranslateText.GetTranslateText("TNTCalculationResultTooltip")">
                    <Text Type="secondary">
                        <Icon Type="info-circle" Theme="outline" />
                    </Text>
                </Tooltip>
            </ActionColumn>
            <Column Title="@TranslateText.GetTranslateText("DisplayDistance")" @bind-Field="@context.Distance" Sortable>
                <Tooltip Title="@context.Distance.ToString()">
                    <Text>@context.Distance.ToString().Substring(0, 5)</Text>
                </Tooltip>
            </Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayTicks")" @bind-Field="@context.Tick" Sortable></Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayBlue")" @bind-Field="@context.Blue"></Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayRed")" @bind-Field="@context.Red"></Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayTotal")" @bind-Field="@context.TotalTNT" Sortable></Column>
        </Table>
    }
    else if (ShowMode == ShowResultMode.Trace)
    {
        <Table TItem="EntityWrapper"
               DataSource="@PearlTrace"
               Total="PearlTotal"
               @bind-PageIndex="_pageIndex"
               @bind-PageSize="_pageSize"
               ScrollY=@(TableScrollY)
               Class="calculator-result-table">

            <Column Title="@TranslateText.GetTranslateText("DisplayTicks")" @bind-Field="@context.Tick"></Column>
            <Column Title="@TranslateText.GetTranslateText("XCoor")" @bind-Field="@context.XCoor"></Column>
            <Column Title="@TranslateText.GetTranslateText("YCoor")" @bind-Field="@context.YCoor"></Column>
            <Column Title="@TranslateText.GetTranslateText("ZCoor")" @bind-Field="@context.ZCoor"></Column>

        </Table>
    }
    else
    {
        <Table TItem="EntityWrapper"
               DataSource="@PearlMotion"
               Total="MotionTotal"
               @bind-PageIndex="_pageIndex"
               @bind-PageSize="_pageSize"
               ScrollY=@(TableScrollY)
               Class="calculator-result-table">

            <Column Title="@TranslateText.GetTranslateText("DisplayTicks")" @bind-Field="@context.Tick"></Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayXMotion")" @bind-Field="@context.XCoor"></Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayYMotion")" @bind-Field="@context.YCoor"></Column>
            <Column Title="@TranslateText.GetTranslateText("DisplayZMotion")" @bind-Field="@context.ZCoor"></Column>

        </Table>
    }
</div>

<div class="calculator-result-root-default">
    <Row Class="calculator-result-row">
        <AntDesign.Col Span="12" Style="background-color: #fafafa;">
            <Text Style="padding-left: 10px;">@TranslateText.GetTranslateText("DisplayDirection")</Text>
        </AntDesign.Col>
        <AntDesign.Col Span="12" Style="background-color: #fafafa;">
            <Text Style="padding-left: 10px;">@TranslateText.GetTranslateText("DisplayAngle")</Text>
        </AntDesign.Col>
    </Row>
    <Row Class="calculator-result-row">
        <AntDesign.Col Span="12" Style="background-color: white;">
            <Text Style="padding-left: 10px;">@TranslateText.GetTranslateText(ResultDirection)</Text>
        </AntDesign.Col>
        <AntDesign.Col Span="12" Style="background-color: white;">
            <Text Style="padding-left: 10px;">@ResultAngle</Text>
        </AntDesign.Col>
    </Row>
</div>

<div class="calculator-result-root-mobile">
    <div style="background-color: #fafafa;">
        <Text Style="padding-left: 10px;">@TranslateText.GetTranslateText("DisplayDirection")</Text>
    </div>
    <div style="background-color: white;">
        <Text Style="padding-left: 10px;">@TranslateText.GetTranslateText(ResultDirection)</Text>
    </div>

    <div Style="background-color: #fafafa;">
        <Text Style="padding-left: 10px;">@TranslateText.GetTranslateText("DisplayAngle")</Text>
    </div>
    <div Style="background-color: white;">
        <Text Style="padding-left: 10px;">@ResultAngle</Text>
    </div>
</div>

<style>
    .calculator-result-table-hidden {
        display: none
    }

    .calculator-result-root-default {
        border-style: solid;
        border-Color: #fafafa;
        border-width: 1px;
        display: block;
    }

    .calculator-result-root-mobile {
        display: none;
    }

    @@media screen and (max-width: 420px) {
        .calculator-result-root-default {
            display: none;
        }

        .calculator-result-root-mobile {
            border-style: solid;
            border-Color: #fafafa;
            border-width: 1px;
            display: block;
        }
    }
</style>

@code {
    private const string TableScrollY = "678px";
}