@page "/ResultView"
@inject MessageService AntMessage

<div class="calculator-result-table@(ShowMode != ShowResultMode.Amount ? "-hidden" : string.Empty)">
    <Table TItem="PearlCalculatorLib.Result.TNTCalculationResult"
           DataSource="@AmountResult"
           Total="AmountTotal"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           ScrollY="800px"
           OnRowClick="OnAmountRowClick"
           >
        <Column @bind-Field="@context.Distance" Sortable>
            <Tooltip Title="@context.Distance.ToString()">
                <Text>@context.Distance.ToString().Substring(0, 5)</Text>
            </Tooltip>
        </Column>
        <Column @bind-Field="@context.Tick" Sortable></Column>
        <Column @bind-Field="@context.Blue"></Column>
        <Column @bind-Field="@context.Red"></Column>
        <Column @bind-Field="@context.TotalTNT" Sortable></Column>

    </Table>
</div>

<div class="calculator-result-table@(ShowMode != ShowResultMode.Trace ? "-hidden" : string.Empty)">
    <Table TItem="EntityWrapper"
           DataSource="@PearlTrace"
           Total="PearlTotal"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           ScrollY="800px">

        <Column @bind-Field="@context.Tick"></Column>
        <Column @bind-Field="@context.XCoor"></Column>
        <Column @bind-Field="@context.YCoor"></Column>
        <Column @bind-Field="@context.ZCoor"></Column>

    </Table>
</div>

<div class="calculator-result-table@(ShowMode != ShowResultMode.Momentum ? "-hidden" : string.Empty)">
    <Table TItem="EntityWrapper"
           DataSource="@PearlMotion"
           Total="MotionTotal"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           ScrollX="800px">

        <Column @bind-Field="@context.Tick"></Column>
        <Column @bind-Field="@context.XCoor" Title="X Motion"></Column>
        <Column @bind-Field="@context.YCoor" Title="Y Motion"></Column>
        <Column @bind-Field="@context.ZCoor" Title="Z Motion"></Column>

    </Table>
</div>

<style>
    .calculator-result-table {
        height: 100%;
    }

    .calculator-result-table-hidden {
        display: none
    }

    .tnt-amount-result-table {
    }
</style>