@page "/ResultView"
@inject MessageService AntMessage

<div class="calculator-result">
    @if (ShowMode == ShowResultMode.Amount)
    {
        <Table TItem="PearlCalculatorLib.Result.TNTCalculationResult"
               DataSource="@AmountResult"
               Total="AmountTotal"
               @bind-PageIndex="_pageIndex"
               @bind-PageSize="_pageSize"
               ScrollY=@(TableScrollY)
               OnRowClick="OnAmountRowClick"
               Class="calculator-result-table">

            <Column @bind-Field="@context.Distance" Sortable>
                <Tooltip Title="@context.Distance.ToString()">
                    <Text>@context.Distance.ToString().Substring(0, 5)</Text>
                </Tooltip>
            </Column>
            <Column @bind-Field="@context.Tick" Sortable></Column>
            <Column @bind-Field="@context.Blue"></Column>
            <Column @bind-Field="@context.Red"></Column>
            <Column @bind-Field="@context.TotalTNT" Sortable></Column>

        </Table>
    }
    else if (ShowMode == ShowResultMode.Trace)
    {
        <Table TItem="EntityWrapper"
               DataSource="@PearlTrace"
               Total="PearlTotal"
               @bind-PageIndex="_pageIndex"
               @bind-PageSize="_pageSize"
               ScrollY=@(TableScrollY)
               Class="calculator-result-table">

            <Column @bind-Field="@context.Tick"></Column>
            <Column @bind-Field="@context.XCoor"></Column>
            <Column @bind-Field="@context.YCoor"></Column>
            <Column @bind-Field="@context.ZCoor"></Column>

        </Table>
    }
    else
    {
        <Table TItem="EntityWrapper"
               DataSource="@PearlMotion"
               Total="MotionTotal"
               @bind-PageIndex="_pageIndex"
               @bind-PageSize="_pageSize"
               ScrollY=@(TableScrollY)
               Class="calculator-result-table">

            <Column @bind-Field="@context.Tick"></Column>
            <Column @bind-Field="@context.XCoor" Title="X Motion"></Column>
            <Column @bind-Field="@context.YCoor" Title="Y Motion"></Column>
            <Column @bind-Field="@context.ZCoor" Title="Z Motion"></Column>

        </Table>
    }
</div>

<div>
    <Row>
        <AntDesign.Col Span="12" Style="background-color: #fafafa;">Result Direction</AntDesign.Col>
        <AntDesign.Col Span="12" Style="background-color: #fafafa;">Result Angle (x | z)</AntDesign.Col>

    </Row>
    <Row Class="calculator-result-row">
        <AntDesign.Col Span="12" Style="background-color: white;">@ResultDirection</AntDesign.Col>
        <AntDesign.Col Span="12" Style="background-color: white;">@ResultAngle</AntDesign.Col>
    </Row>
</div>

<style>
    .calculator-result-table-hidden {
        display: none
    }

    .calculator-result-row {
        border-style: solid;
        border-Color: #fafafa;
        border-width: 1px;
    }
</style>

@code {
    private const string TableScrollY = "710px";
}