@page "/GeneralFTL_Settings"

@inject TranslateText TransText
@inject IJSRuntime JSRuntime

@using PearlCalculatorBlazor.Localizer

<Space Direction="DirectionVHType.Vertical" Style="width: 100%">
<SpaceItem>
<GridRow>
    <GridCol Span="12" Class="setting-name-value-box">
        <Text>@TranslateText.GetTranslateText("SettingsNorthWestTNT")</Text>
    </GridCol>
    <GridCol Span="12" Class="setting-name-value-box">
        <Switch style="float: right;" Size="small" @bind-Checked="@NorthWestTntCheck.isChecked"/>
    </GridCol>
</GridRow>

<GridRow>
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">X</Text>
    </GridCol>
    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@NorthWestTntCheck.isChecked"
            @bind-Value="@NorthWestTntX"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Y</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@NorthWestTntCheck.isChecked"
            @bind-Value="@NorthWestTntY"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Z</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@NorthWestTntCheck.isChecked"
            @bind-Value="@NorthWestTntZ"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        @TranslateText.GetTranslateText("SettingsNorthEastTNT")
    </GridCol>

    <GridCol Span="12" Style="Padding: 4px 8px">
        <div style="float: right;">
            <Switch Size="small" @bind-Checked="@NorthEastTntCheck.isChecked"/>
        </div>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">X</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@NorthEastTntCheck.isChecked"
            @bind-Value="@NorthEastTntX"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Y</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@NorthEastTntCheck.isChecked"
            @bind-Value="@NorthEastTntY"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Z</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@NorthEastTntCheck.isChecked"
            @bind-Value="@NorthEastTntZ"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        @TranslateText.GetTranslateText("SettingsSouthWestTNT")
    </GridCol>

    <GridCol Span="12" Style="Padding: 4px 8px">
        <div style="float: right;">
            <Switch Size="small" @bind-Checked="@SouthWestTntCheck.isChecked"/>
        </div>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">X</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@SouthWestTntCheck.isChecked"
            @bind-Value="@SouthWestTntX"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Y</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@SouthWestTntCheck.isChecked"
            @bind-Value="@SouthWestTntY"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Z</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@SouthWestTntCheck.isChecked"
            @bind-Value="@SouthWestTntZ"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        @TranslateText.GetTranslateText("SettingsSouthEastTNT")
    </GridCol>

    <GridCol Span="12" Style="Padding: 4px 8px">
        <div style="float: right;">
            <Switch Size="small" @bind-Checked="@SouthEastTntCheck.isChecked"/>
        </div>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">X</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@SouthEastTntCheck.isChecked"
            @bind-Value="@SouthEastTntX"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Y</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Class="setting-input-container-box"
            Disabled="@SouthEastTntCheck.isChecked"
            @bind-Value="@SouthEastTntY"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">Z</Text>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <InputNumber
            Style="width: 100%"
            Disabled="@SouthEastTntCheck.isChecked"
            @bind-Value="@SouthEastTntZ"
            Size="@InputSize.Small"/>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        @TranslateText.GetTranslateText("PearlY")
    </GridCol>

    <GridCol Span="12" Style="Padding: 4px 8px">
        <div style="float: right;">
            <Switch Size="small" @bind-Checked="@PearlYCheck.isChecked"/>
        </div>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box">
        <Text style="margin-left: 10px;">
            @TranslateText.GetTranslateText("PearlYMotionMode")
        </Text>
    </GridCol>

    <GridCol Span="12" Style="Padding: 4px 8px">
        <div class="setting-select-box">
            <Select DataSource="@_pearlYMotionOptions"
                    @bind-Value="PearlYMotionMode"
                    DefaultValue="@PearlYMotionMode"
                    ValueName="@nameof(ArrayPos.ActiveKey)"
                    LabelName="@nameof(ArrayPos.DisplayName)"
                    Size="@InputSize.Small">
            </Select>
        </div>
    </GridCol>
</GridRow>


<!-- Conditional Rendering for Pearl Y Settings -->
@if (PearlYMotionMode == "NormalProjection")
{
    <GridRow Class="setting-row">
        <GridCol Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">@TranslateText.GetTranslateText("Coordinate")</Text>
        </GridCol>

        <GridCol Span="12" Class="setting-col">
            <InputNumber
                Class="setting-input-container-box"
                Disabled="@PearlYCheck.isChecked"
                @bind-Value="PearlYCoordinate"
                Size="@InputSize.Small"/>
        </GridCol>
    </GridRow>

    <GridRow Class="setting-row">
        <GridCol Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">@TranslateText.GetTranslateText("Momentum")</Text>
        </GridCol>

        <GridCol Span="12" Class="setting-col">
            <InputNumber
                Class="setting-input-container-box"
                Disabled="@PearlYCheck.isChecked"
                @bind-Value="PearlYMomentum"
                Size="@InputSize.Small"/>
        </GridCol>
    </GridRow>
}
else
{
    <GridRow Class="setting-row">
        <GridCol Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">@TranslateText.GetTranslateText("PearlYPositionOriginal")</Text>
        </GridCol>

        <GridCol Span="12" Class="setting-col">
            <InputNumber
                Class="setting-input-container-box"
                Disabled="@PearlYCheck.isChecked"
                @bind-Value="PearlYPositionOriginal"
                Size="@InputSize.Small"/>
        </GridCol>
    </GridRow>

    <GridRow Class="setting-row">
        <GridCol Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">@TranslateText.GetTranslateText("PearlYPositionAdjusted")</Text>
        </GridCol>

        <GridCol Span="12" Class="setting-col">
            <InputNumber
                Class="setting-input-container-box"
                Disabled="@PearlYCheck.isChecked"
                @bind-Value="PearlYPositionAdjusted"
                Size="@InputSize.Small"/>
        </GridCol>
    </GridRow>
}

<GridRow>
    <GridCol Span="12" Style="border-right-style: solid; border-Color: #f0f0f0; border-right-width: 1px; height: 30px"></GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box" Style="Padding: 4px 8px;">
        <Tooltip Placement="Placement.TopLeft" Title="@(@TranslateText.GetTranslateText("DefaultRedTNTPosDesc"))">
            <span style="border-bottom: 1px dashed #dadada;">
                @TranslateText.GetTranslateText("DefaultRedTNTPos")
            </span>
        </Tooltip>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <div class="setting-select-box">
            <Select DataSource="@_selectList"
                    @bind-Value="@DefaultRedTNTPosition"
                    DefaultValue="@("SouthEast")"
                    ValueName="@nameof(ArrayPos.ActiveKey)"
                    LabelName="@nameof(ArrayPos.DisplayName)"
                    Size="@InputSize.Small"
                    IgnoreItemChanges="false">
            </Select>
        </div>
    </GridCol>
</GridRow>

<GridRow Class="setting-row">
    <GridCol Span="12" Class="setting-name-value-box" Style="Padding: 4px 8px;">
        <Tooltip Placement="Placement.TopLeft" Title="@(@TranslateText.GetTranslateText("DefaultBlueTNTPosDesc"))">
            <span style="border-bottom: 1px dashed #dadada;">
                @TranslateText.GetTranslateText("DefaultBlueTNTPos")
            </span>
        </Tooltip>
    </GridCol>

    <GridCol Span="12" Class="setting-col">
        <div class="setting-select-box">
            <Select DataSource="@_selectList"
                    @bind-Value="@DefaultBlueTNTPosition"
                    DefaultValue="@("NorthWest")"
                    ValueName="@nameof(ArrayPos.ActiveKey)"
                    LabelName="@nameof(ArrayPos.DisplayName)"
                    Size="@InputSize.Small"
                    IgnoreItemChanges="false">
            </Select>
        </div>
    </GridCol>
</GridRow>
<GridRow>
    <GridCol Span="12" Style="border-right-style: solid; border-Color: #f0f0f0; border-right-width: 1px; height:8px"></GridCol>
</GridRow>
</SpaceItem>
<SpaceItem>
    <Button Style="width: 100%" @onclick="@ResetToDefault_OnClick">@TranslateText.GetTranslateText("ResetToDefault")</Button>
</SpaceItem>
</Space>

<style>
    .setting-row {
        height: 30px;
    }

    .setting-col {
        padding: 2px 8px;
    }

    .setting-name-value-box {
        border-right: 1px solid #f0f0f0;
        align-content: center;
        Padding: 6px 8px;
    }

    .setting-input-container-box {
        width: 100%;
    }

    .setting-select-box {
        width: 100%;
    }
</style>