@page "/GeneralFTL_General"
@using PearlCalculatorBlazor.Localizer
@using PearlCalculatorLib.PearlCalculationLib.World

@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject MessageService AntMessage
@inject NotificationService Notice
@inject TranslateText TransText

<Space Direction="DirectionVHType.Vertical" Style="width: 100%">
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("PearlPosX")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@PearlX"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("PearlPosZ")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@PearlZ"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("DestinationX")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@DestinationX"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("DestinationZ")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@DestinationZ"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("MaxTNT")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@MaxTnt"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("Direction")</Text>
            </SpaceItem>
            <SpaceItem>
                <RadioGroup @bind-Value="@Direction" Style="width: 100%;">
                    <Row>
                        <AntDesign.Col Span="6">
                            <Radio Value="@Direction.North">
                                @TranslateText.GetTranslateText("North")
                            </Radio>
                        </AntDesign.Col>
                        <AntDesign.Col Span="6">
                            <Radio Value="@Direction.South">
                                @TranslateText.GetTranslateText("South")
                            </Radio>
                        </AntDesign.Col>
                        <AntDesign.Col Span="6">
                            <Radio Value="@Direction.East">
                                @TranslateText.GetTranslateText("East")
                            </Radio>
                        </AntDesign.Col>
                        <AntDesign.Col Span="6">
                            <Radio Value="@Direction.West">
                                @TranslateText.GetTranslateText("West")
                            </Radio>
                        </AntDesign.Col>
                    </Row>
                </RadioGroup>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("RedTNT")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@RedTnt"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Direction="DirectionVHType.Vertical" Style="width: 100%">
            <SpaceItem>
                <Text>@TranslateText.GetTranslateText("BlueTNT")</Text>
            </SpaceItem>
            <SpaceItem>
                <InputNumber Style="width: 100%" @bind-Value="@BlueTnt"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
</Space>

<div class="button-block">
    <Button Block="true" @onclick="CalculateTntAmount">@TranslateText.GetTranslateText("CalculateTNTAmount")</Button>
    <Button Block="true" @onclick="PearlSimulate">@TranslateText.GetTranslateText("PearlSimulate")</Button>
    <Button Block="true" @onclick="ImportSettings_OnClick">@TranslateText.GetTranslateText("ImportSettings")</Button>
    <Button Block="true" @onclick="ExportSettings_OnClick">@TranslateText.GetTranslateText("SaveSettings")</Button>
    <Microsoft.AspNetCore.Components.Forms.InputFile
        id="import-settings-handle"
        style="display: none"
        OnChange="ImportHandleFileSelected" accept=".json"/>
</div>

<a href="#" id="download-settings-link"/>