@page "/GeneralFTL_Settings"

@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div style="
        border-style: solid;
        border-Color: #f0f0f0;
        border-width: 1px;
        border-radius: 2px;
        line-height: 1.2;
    ">

    <Row>
        <AntDesign.Col Span="12" Style="border-right-style: solid; border-Color: #f0f0f0; border-right-width: 1px; height: 12px"></AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            @TranslateText.GetTranslateText("SettingsNorthWestTNT")
        </AntDesign.Col>

        <AntDesign.Col Span="12" Style="Padding: 4px 8px">
            <div style="float: right;">
                <Switch Size="small" @bind-Checked="@NorthWestTntCheck.isChecked" />
            </div>
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">X</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@NorthWestTntCheck.isChecked" @bind-Value="@NorthWestTntX" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Y</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@NorthWestTntCheck.isChecked" @bind-Value="@NorthWestTntY" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Z</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@NorthWestTntCheck.isChecked" @bind-Value="@NorthWestTntZ" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            @TranslateText.GetTranslateText("SettingsNorthEastTNT")
        </AntDesign.Col>

        <AntDesign.Col Span="12" Style="Padding: 4px 8px">
            <div style="float: right;">
                <Switch Size="small" @bind-Checked="@NorthEastTntCheck.isChecked" />
            </div>
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">X</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@NorthEastTntCheck.isChecked" @bind-Value="@NorthEastTntX" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Y</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@NorthEastTntCheck.isChecked" @bind-Value="@NorthEastTntY" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Z</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@NorthEastTntCheck.isChecked" @bind-Value="@NorthEastTntZ" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            @TranslateText.GetTranslateText("SettingsSouthWestTNT")
        </AntDesign.Col>

        <AntDesign.Col Span="12" Style="Padding: 4px 8px">
            <div style="float: right;">
                <Switch Size="small" @bind-Checked="@SouthWestTntCheck.isChecked" />
            </div>
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">X</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@SouthWestTntCheck.isChecked" @bind-Value="@SouthWestTntX" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Y</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@SouthWestTntCheck.isChecked" @bind-Value="@SouthWestTntY" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Z</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@SouthWestTntCheck.isChecked" @bind-Value="@SouthWestTntZ" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            @TranslateText.GetTranslateText("SettingsSouthEastTNT")
        </AntDesign.Col>

        <AntDesign.Col Span="12" Style="Padding: 4px 8px">
            <div style="float: right;">
                <Switch Size="small" @bind-Checked="@SouthEastTntCheck.isChecked" />
            </div>
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">X</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@SouthEastTntCheck.isChecked" @bind-Value="@SouthEastTntX" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Y</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@SouthEastTntCheck.isChecked" @bind-Value="@SouthEastTntY" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">Z</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Style="width: 100%" Disabled="@SouthEastTntCheck.isChecked" @bind-Value="@SouthEastTntZ" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            @TranslateText.GetTranslateText("PearlY")
        </AntDesign.Col>

        <AntDesign.Col Span="12" Style="Padding: 4px 8px">
            <div style="float: right;">
                <Switch Size="small" @bind-Checked="@PearlYCheck.isChecked" />
            </div>
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">@TranslateText.GetTranslateText("Coordinate")</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@PearlYCheck.isChecked" @bind-Value="@PearlYCoordinate" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box">
            <Text style="margin-left: 10px;">@TranslateText.GetTranslateText("Momentum")</Text>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <InputNumber Class="setting-input-container-box" Disabled="@PearlYCheck.isChecked" @bind-Value="@PearlYMomentum" Size="@InputSize.Small" />
        </AntDesign.Col>
    </Row>

    <Row>
        <AntDesign.Col Span="12" Style="border-right-style: solid; border-Color: #f0f0f0; border-right-width: 1px; height: 30px"></AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box" Style="Padding: 4px 8px;">
            <Tooltip Placement="Placement.TopLeft" Title="@(@TranslateText.GetTranslateText("DefaultRedTNTPosDesc"))">
                <span style="border-bottom: 1px dashed #dadada;">
                    @TranslateText.GetTranslateText("DefaultRedTNTPos")
                </span>
            </Tooltip>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <div class="setting-select-box">
                <Select DataSource="@_selectList"
                        @bind-Value="@DefaultRedTNTPosition"
                        DefaultValue="@("SouthEast")"
                        ValueName="@nameof(ArrayPos.ActiveKey)"
                        LabelName="@nameof(ArrayPos.DisplayName)"
                        Size="@InputSize.Small"
                        IgnoreItemChanges="false">
                </Select>
            </div>
        </AntDesign.Col>
    </Row>

    <Row Class="setting-row">
        <AntDesign.Col Span="12" Class="setting-name-value-box" Style="Padding: 4px 8px;">
            <Tooltip Placement="Placement.TopLeft" Title="@(@TranslateText.GetTranslateText("DefaultBlueTNTPosDesc"))">
                <span style="border-bottom: 1px dashed #dadada;">
                    @TranslateText.GetTranslateText("DefaultBlueTNTPos")
                </span>
            </Tooltip>
        </AntDesign.Col>

        <AntDesign.Col Span="12" Class="setting-col">
            <div class="setting-select-box">
                <Select DataSource="@_selectList"
                        @bind-Value="@DefaultBlueTNTPosition"
                        DefaultValue="@("NorthWest")"
                        ValueName="@nameof(ArrayPos.ActiveKey)"
                        LabelName="@nameof(ArrayPos.DisplayName)"
                        Size="@InputSize.Small"
                        IgnoreItemChanges="false">
                </Select>
            </div>
        </AntDesign.Col>
    </Row>
    <Row>
        <AntDesign.Col Span="12" Style="border-right-style: solid; border-Color: #f0f0f0; border-right-width: 1px; height:8px"></AntDesign.Col>
    </Row>
</div>
<br />
<li style="padding: 0px 10px 0px 10px">
    <Button Style="width: 100%" @onclick="@ResetToDefault_OnClick">@TranslateText.GetTranslateText("ResetToDefault")</Button>
</li>

<style>
    .setting-row {
        height: 30px;
    }

    .setting-col {
        padding: 2px 8px;
    }

    .setting-check-box {
        float: right;
        left: 4%;
        top: 0;
        bottom: 0;
    }

    .setting-name-value-box {
        border-right-style: solid;
        border-Color: #f0f0f0;
        border-right-width: 1px;
        align-content: center;
        Padding: 5.75px 8px;
    }

    .setting-input-container-box {
        width: 100%;
    }

    .setting-select-box {
        width: 100%;
    }
</style>

@code{

}