@page "/GeneralFTL_General"

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject MessageService AntMessage
@inject NotificationService Notice
@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer;

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("PearlPosX")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@PearlX" />
</div>
<br />

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("PearlPosZ")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@PearlZ" />
</div>
<br />

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("DestinationX")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@DestinationX" />
</div>
<br />

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("DestinationZ")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@DestinationZ" />
</div>
<br />

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("MaxTNT")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@MaxTNT" />
</div>
<br />

<div>
    <RadioGroup @bind-Value="@Direction" Style="width: 100%; display: flex; flex-wrap: wrap">

        <Row Style="width: inherit">
            <AntDesign.Col Span="6" Class="calculator-input-container-direction-radio">
                <Radio Value="@PearlCalculatorLib.PearlCalculationLib.World.Direction.North">North</Radio>
            </AntDesign.Col>

            <AntDesign.Col Span="6" Class="calculator-input-container-direction-radio">
                <Radio Value="@PearlCalculatorLib.PearlCalculationLib.World.Direction.South">South</Radio>
            </AntDesign.Col>

            <AntDesign.Col Span="6" Class="calculator-input-container-direction-radio">
                <Radio Value="@PearlCalculatorLib.PearlCalculationLib.World.Direction.East">East</Radio>
            </AntDesign.Col>

            <AntDesign.Col Span="6" Class="calculator-input-container-direction-radio">
                <Radio Value="@PearlCalculatorLib.PearlCalculationLib.World.Direction.West">West</Radio>
            </AntDesign.Col>
        </Row>

    </RadioGroup>
</div>
<br />

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("RedTNT")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@RedTNT" />
</div>
<br />

<div>
    <Text class="calculator-input-container-label">@TranslateText.GetTranslateText("BlueTNT")</Text>
    <InputNumber class="calculator-input-container-box" @bind-Value="@BlueTNT" />
</div>
<br />

<ul class="calculator-general-btn-group">
    <li>
        <Button Style="width: 100%" @onclick="CalculateTNTAmount">@TranslateText.GetTranslateText("CalculateTNTAmount")</Button>
    </li>
    <li>
        <Button Style="width: 100%" @onclick="PearlSimulate">@TranslateText.GetTranslateText("PearlSimulate")</Button>
    </li>
    <li>
        <Button Style="width: 100%" @onclick="ImportSettings_OnClick">@TranslateText.GetTranslateText("ImportSettings")</Button>

        <Microsoft.AspNetCore.Components.Forms.InputFile id="import-settings-handle" style="display: none" OnChange="ImportHandleFileSelected" accept=".json" />

    </li>
    <li>
        <Button Style="width: 100%" @onclick="ExportSettings_OnClick">@TranslateText.GetTranslateText("SaveSettings")</Button>
    </li>
</ul>

<a href="#" id="download-settings-link" />