@page "/GeneralFTL_Advanced"

@inject IJSRuntime JSRuntime
@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div style="
        border-style: solid;
        border-color: #f0f0f0;
        border-width: 1px;
        border-radius: 2px;
        line-height: 1.2;
        padding: 0px 24px 14px 24px;
    ">
    <br />

    <div style="padding-bottom: 10px;">
        <Text Style="margin-left: 5px;">@TranslateText.GetTranslateText("Offset")</Text>
    </div>

    <div style="padding-bottom: 10px;">
        <Text Style="margin-left: 5px;">X :</Text>
        <InputNumber Class="advanced-input-container-box" Min="-1" Max="1" @bind-Value="@PearlOffsetX" Size="@InputSize.Default" />
    </div>

    <div style="padding-bottom: 10px;">
        <Text Style="margin-left: 5px;">Z :</Text>
        <InputNumber Class="advanced-input-container-box" Min="-1" Max="1" @bind-Value="@PearlOffsetZ" Size="@InputSize.Default" />
    </div>

</div>

<Row Class="adavced-row">
    <AntDesign.Col Span="5" Class="advanced-name-value-box" Style="Padding:2px 8px">
        @TranslateText.GetTranslateText("TNTWeight")
    </AntDesign.Col>

    <AntDesign.Col Span="19" Style="Padding:2px 8px">
        <div>
            <Slider TValue="double" Min="0" Max="100" DefaultValue="0" TipFormatter="@(value => $"{value}%")" @bind-Value="@TNTWeight" Id="tnt-weight-slider" />
        </div>
    </AntDesign.Col>
</Row>

<style>
    .advanced-name-value-box {
        top: 4px;
    }

    .advanced-input-container-box {
        width: 100%;
        margin-top: 5px;
    }
</style>

@code {

}
