@page "/"

@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div class="calculator-root">

    <div class="calculator-card calculator-input-tab">
        <Card>
            <CardTabs>
                <Tabs DefaultActiveKey="General">

                    <TabBarExtraContent>
                        <Dropdown Placement="@PlacementType.BottomRight">
                            <Overlay>
                                <Menu>
                                    <MenuItem @onclick="@(() => OnClickChangeLanguage("en"))" @key="1">@TranslateText.GetTranslateText("en")</MenuItem>
                                    <MenuItem @onclick="@(() => OnClickChangeLanguage("zh_cn"))" @key="2">@TranslateText.GetTranslateText("zh_cn")</MenuItem>
                                    <MenuItem @onclick="@(() => OnClickChangeLanguage("zh_tw"))" @key="3">@TranslateText.GetTranslateText("zh_tw")</MenuItem>
                                </Menu>
                            </Overlay>
                            <ChildContent>
                                <Button Style="border: hidden; box-shadow: none; padding-left: 16px;" Icon="translation" />
                            </ChildContent>
                        </Dropdown>
                    </TabBarExtraContent>

                    <ChildContent>
                        <TabPane Key="General">
                            <Tab>@TranslateText.GetTranslateText("GeneralFTLHeader")</Tab>
                            <ChildContent>
                                <PearlCalculatorBlazor.Components.GeneralFTL />
                            </ChildContent>
                        </TabPane>

                        <TabPane Key="Manually">
                            <Tab>@TranslateText.GetTranslateText("ManuallyHeader")</Tab>
                            <ChildContent>
                                <PearlCalculatorBlazor.Components.Manually />
                            </ChildContent>
                        </TabPane>
                    </ChildContent>
</Tabs>
            </CardTabs>
        </Card>
    </div>

    <div class="calculator-card calculator-output-tab">
        <Card>
            <PearlCalculatorBlazor.Components.ResultView />
        </Card>
    </div>
</div>


<style>

    /*不绘制InputNumber的handler*/
    .ant-input-number-handler-wrap {
        visibility: hidden;
    }

    .ant-card {
        height: 100%;
    }

    .ant-card-body {
        height: auto;
    }
</style>