@page "/"

@inject TranslateText TransText

@using PearlCalculatorBlazor.Localizer

<div class="calculator-root">

    <div class="calculator-card calculator-input-tab">
        <Card>
            <CardTabs>
                <Tabs DefaultActiveKey="General">

                    <TabBarExtraContent>
                        <Dropdown Placement="Placement.BottomRight">
                            <Overlay>
                                <Menu DefaultSelectedKeys=@(new[] { "en" })>
                                    <MenuItem @onclick="@(() => OnClickChangeLanguage("en"))" Key="en">@TranslateText.LanguageDict["en"]</MenuItem>
                                    @foreach (var pair in TranslateText.LanguageDict)
                                    {
                                        if (pair.Key == "en")
                                            continue;
                                        <MenuItem @onclick="@(() => OnClickChangeLanguage(pair.Key))" @key=pair.Key>@pair.Value</MenuItem>
                                    }
                                </Menu>
                            </Overlay>
                            <ChildContent>
                                <Button Type="@ButtonType.Link" Class="traslation-icon" Icon="translation"></Button>
                            </ChildContent>
                        </Dropdown>
                    </TabBarExtraContent>

                    <ChildContent>
                        <TabPane Key="General" Tab="@TranslateText.GetTranslateText("GeneralHeader")">
                            <ChildContent>
                                <PearlCalculatorBlazor.Components.GeneralFTL />
                            </ChildContent>
                        </TabPane>

                        <TabPane Key="Manually" Tab="@TranslateText.GetTranslateText("ManuallyHeader")">
                            <ChildContent>
                                <PearlCalculatorBlazor.Components.Manually />
                            </ChildContent>
                        </TabPane>
                    </ChildContent>
                </Tabs>
            </CardTabs>
        </Card>
    </div>

    <div class="calculator-card calculator-output-tab">
        <Card>
            <PearlCalculatorBlazor.Components.ResultView />
        </Card>
    </div>
</div>


<style>
    .ant-input-number-handler-wrap {
        visibility: hidden;
    }

    .ant-card {
        height: 100%;
    }

    .ant-card-body {
        height: auto;
    }
</style>

@code{

}