@page "/GeneralFTL_Advanced"

@inject IJSRuntime JSRuntime

<div style="
        border-style: solid;
        border-color: #f0f0f0;
        border-width: 1px;
        border-radius: 2px;
        line-height: 1.2;
    ">
    <br />

    <div>
        <Text>&emsp;Offset :</Text>
    </div>
    <br />


    <Text>&emsp;X :&emsp;</Text>
    <InputNumber Class="advanced-input-container-box" Min="-1" Max="1" @bind-Value="@PearlOffSetX" Size="@InputSize.Default" />
    <Text>&emsp;</Text>

    <br />
    <br />

    <Text>&emsp;Z :&emsp;</Text>
    <InputNumber Class="advanced-input-container-box" Min="-1" Max="1" @bind-Value="@PearlOffSetZ" Size="@InputSize.Default" />
    <Text>&emsp;</Text>

    <br />
    <br />
</div>
<br />

<Row Class="adavced-row">
    <AntDesign.Col Span="5" Class="advanced-name-value-box" Style="Padding:2px 8px">
        TNT Weight
    </AntDesign.Col>

    <AntDesign.Col Span="19" Style="Padding:2px 8px">
        <div>
            <Slider TValue="double" Min="0" Max="100" DefaultValue="0" TipFormatter="(d) => tipFormatter(d)" @bind-Value="@TNTWeight" Id="tnt-weight-slider" />
        </div>
    </AntDesign.Col>
</Row>

<style>
    .advanced-name-value-box {
        top: 4px;
    }

    .advanced-input-container-box {
        width: 85%;
    }
</style>

@code {

    string tipFormatter(double currentEdgeValue)
    {
        return $"{currentEdgeValue}%";
    }
}
